Follow these steps in your analysis:

1. Scan the raw data to get a sense for what you're working with. Note the structure, look for outliers, and document these observations.

2. Profile important attributes. Look at frquencies for your important dimensions (frequencies means just counting). Sort by most freqent items if it's categorical data. If it's ordinal data, sort by the natural order to see if there's a trend.

3. Look at trends over time. Using the frequencies above, can we find any insight into the trends over time?

4. Start to look at other measures over time. Consider averaging, counting distinct values. What other aggregations might be expose interesting trends?

5. Look at interactions between attributes. Do you see any patterns? Does any data look unexpected? How can we clarify this?
